	<STYLE TYPE="text/css">

		P.western { font-family: "Times New Roman", serif; font-size: 12pt; so-language: pt-BR }
		H1 { margin-top: 0in; margin-bottom: 0in; direction: ltr; color: #000000; text-align: justify; widows: 2; orphans: 2 }
		H1.western { font-family: "Times New Roman", serif; font-size: 14pt; so-language: pt-BR; font-weight: normal }	

	</STYLE>